
@{
    ViewBag.Title = "Index2";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="~/Content/git.png">

    <title>Kezdőlap</title>

    <link rel="stylesheet" type="text/css" href="~/Content/styles1.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
</head>
<body>

    <div id="navbar">
        <button class="button" onclick="vissza()">Kijelentkezés</button>
        <span onclick="html()">HTML</span>
        <span onclick="css()">CSS</span>
        <span onclick="js()">Javascript</span>
        <span onclick="iszgy()">Iszgy</span>
        <span onclick="pr()">Programozás</span>
        <span onclick="c()">C#</span>
        <span onclick="li()">Linux</span>
        <span onclick="hl()">Hálózat</span>
        <script type="text/javascript">
      document.write ('<span id="date-time">', new Date().toLocaleString(), '<\/span>')
if (document.getElementById) onload = function () {
  setInterval ("document.getElementById ('date-time').firstChild.data = new Date().toLocaleString()", 50)
}
        </script>
    </div>
    <div class="caption">
        <span class="border">GIT - Gépészeti Informatika Tantár</span>
    </div>
    <p class="kep"><img src="~/Content/git.png"></p>
    <p class="kep1"><img src="~/Content/gepesz.png"></p>
    <p class="en">
        Magamról:<br>
        Az én nevem Litva Patrik. A Szakképzési Centrum Gépészeti Szakgimnáziuma és Kollégiumában tanulok, informatika szakon. Leginkább a weblapfejlesztés és a szofterverfejlesztés érdekel.
    </p>
    <script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
  function vissza()
{
  location.href="belep.html"
}

  function html()
{
  location.href="html.html";
}

  function css()
{
  location.href="css.html";
}

  function js()
{
  location.href="js.html";
}

  function iszgy()
{
  location.href="iszgy.html";
}

  function pr()
{
  location.href="pr.html";
}

  function c()
{
  location.href="c.html";
}

  function li()
{
  location.href="li.html";
}
  function hl()
{
  location.href="hl.html";
}
    </script>
    </div>
    </div>
</body>
</html>